body {
    
    background-color:rgb(255, 255, 255);
        background-image: url("../images/web-back.jpg");
    
  }
  p{
      color: whitesmoke;
  }
  
  h1{
      color: whitesmoke;
      padding-top: 60px;

  }
  #jumbo{
      background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
      
  }
  .hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
   
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}


    

h1{
    color:white;
   
}
h2{
    color: white
}

.info{
    color: black
}
.block-header{
    color: black
}
#about{
    background-color: black;
   
    display: block;
    width: center;
    height: center;

}
.about{
    padding: 1em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;


}
#about2{

  text-align: center;
padding-left: 60px;
padding-right: 60px;
padding-top: 30px;

}

#trivia{
    background-color: black;
   
    display: block;
    width: center;
    height: center;
    margin-top: 10px;

}
.trivia{
    color: whitesmoke;
    padding-top: 20px;

    
    
  
}

#Gif{
    background-color: black;
   
    display: block;
    width: center;
    height: center;
 margin-left: 10px;
 margin-top: 10px;
 padding-top: 10px;

}
#guess {

    background-color: black;
   
    display: block;
    width: center;
    height: center;
 margin-top: 10px;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    background: url(https://media.giphy.com/media/3ov9jJ6Zo42ddbM00M/giphy.gif);
    background-size: contain;
    background-position: top left;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    
    
  }
  .form-control {
    display: block;
    color: rgb(0, 0, 0);
    width: 450px;
    font-size: 2rem;
    height: calc(1.5em + .75rem + 2px);
     padding: .375rem .75rem; 
     font-size: 1rem; 
     font-weight: 400; 
     line-height: 1.5; 
    color: #000000;
     background-color: rgb(255, 255, 255); 
     background-clip: padding-box; 
     border: 1px solid #3c3c3c; 
     border-radius: .25rem; 
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

#submit{

    margin-bottom:20px; 
    margin-left: 30px;
}

#contact {

    background-color: #000000;
    padding-bottom:100px; 
}

a {
    color:rgb(38, 15, 240);
    ma
    
     
    
}

#info{
    
    text-align: center;
    padding-top: 50px;
    
    
}

#email{

   margin-left: 45%;
   padding:15px
}
#phone{

    margin-left:45%;
    margin-top: 40px;
    width: 115px;
    padding: 15px;
}
#me {

    width: 240px;
    
  
    border-radius: 60%;
    margin-top: 50px
    
  
}

#indexh2{
    color: aliceblue;
    
  
    
    
}
#ct{

    color: aliceblue;
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 


body {

    color: aqua;
}


}