body {
    
    background-color:rgb(255, 255, 255);
        background-image: url("../images/web-back.jpg");
    
  }
  p{
      color: whitesmoke;
  }
  
  h1{
      color: whitesmoke;
      padding-top: 60px;

  }
  #jumbo{
      background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
      
  }
  .hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
   
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}


#first{

  
    
}
    

h1{
    color:white;
   
}
h2{
    color: white
}

.info{
    color: black
}
.block-header{
    color: black
}
#about{
    background-color: black;
   
   
    width: center;
    height: center;

}
.about{
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    text-align: start;


}
#about2{

  text-align: center;
  


}



#trivia{
    background-color: black;
   
    position:center;
    margin-top: 10px;
    margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 width: center;
 height: center;

 
    

}
.trivia{
    color: whitesmoke;
    padding-top: 20px;
    

    
    
  
}
.gif{
    color: whitesmoke;
    padding-top: 10px;
    


}

#Gif{
    background-color: black;
   
    position:center;
    
    margin-left: 10px;
    margin-right: 10px;
 
 margin-top: 10px;
 padding-top: 10px;
 width: center;
 height: center;

 
 margin-bottom: 10px;
 
 

}

.guess{

    color: aqua;
}
#guess {
    position: center;
    background-color: #000000;
   
    width: center;
    height: center;
position:center;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 
 
}
#train{
    background-color: black;
   
   
    width: center;
    height: center;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 


}

#byte{

    background-color: black;
   
    display: block;
    width: center;
    height: center;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;

}
#picki{
    background-color: black;
   
    display: block;
    width: center;
    height: center;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;


}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    background: url(https://media.giphy.com/media/3ov9jJ6Zo42ddbM00M/giphy.gif);
    background-size: contain;
    background-position: top left;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    
    
  }
  .form-control {
    display: block;
    color: rgb(0, 0, 0);
    width: 450px;
    font-size: 2rem;
    height: calc(1.5em + .75rem + 2px);
     padding: .375rem .75rem; 
     font-size: 1rem; 
     font-weight: 400; 
     line-height: 1.5; 
    color: #000000;
     background-color: rgb(255, 255, 255); 
     background-clip: padding-box; 
     border: 1px solid #3c3c3c; 
     border-radius: .25rem; 
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

#submit{

    margin-bottom:20px; 
    margin-left: 30px;
}

#contact {

    background-color: #000000;
    padding-bottom:50px; 
    
}

a {
    color:rgb(38, 15, 240);
    
    
     
    
}

#info{
    
    text-align: center;
    padding-top: 50px;
    
    
    
}

#email{

   margin-left: 35%;
   padding:15px;
   margin-top: 40px;
}
#phone{

    margin-left:35%;
    margin-top: 40px;
    width: 115px;
    padding: 15px;
}
#me {

    width: 240px;
    
  
    border-radius: 60%;
    margin-top: 50px
    
  
}

#indexh2{
    color: aliceblue;
    
  
    
    
}
#ct{

    color: rgb(255, 245, 240);
    
}













* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: black;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}